@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courier New", Courier, monospace;
  color: rgb(119, 110, 101);
  background: rgb(250, 248, 239);
}
.gameOver {
  animation: fadeShow 1000ms;
}

@keyframes fadeShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
